---
apiVersion: batch/v1
kind: Job
metadata:
  name: {{JOBNAME}}
  namespace: {{NAMESPACE}}
spec:
  ttlSecondsAfterFinished: 3600
  template:
    spec:
      automountServiceAccountToken: false
      restartPolicy: OnFailure
      containers:
        - name: restore
          image: docker.io/kopia/kopia:20240412.0.225911@sha256:71f87ac0abe4c34808016394635b45eec63a5a934f0baab266516e93ca40fb3e
          env:
            - name: KOPIA_PASSWORD
              value: "none"
          command:
            - /bin/bash
            - -c
            - |-
              shopt -s dotglob
              printf "\e[1;32m%-6s\e[m\n" "[01/04] Connect to repo ..."      && kopia repo connect filesystem --path=/snapshots --override-hostname=cluster --override-username=root
              printf "\e[1;32m%-6s\e[m\n" "[02/04] Remove previous data ..." && rm -rf /data/{{NAMESPACE}}/{{PVC}}/*
              printf "\e[1;32m%-6s\e[m\n" "[03/04] Restore snapshot ..."     && kopia {{RESTORE_COMMAND}} /data/{{NAMESPACE}}/{{PVC}}
              printf "\e[1;32m%-6s\e[m\n" "[04/04] Disconnect from repo ..." && kopia repo disconnect
          volumeMounts:
            - name: {{PVC}}-data
              mountPath: /data/{{NAMESPACE}}/{{PVC}}
            - name: snapshots
              mountPath: /snapshots
          securityContext:
            privileged: true
      volumes:
        - name: {{PVC}}-data
          persistentVolumeClaim:
            claimName: {{PVC}}
        - name: snapshots
          nfs:
            server: {{NFS_SERVER_IP}}
            path: {{NFS_SERVER_PATH_KOPIA}}/snapshots
