__pycache__
.direnv
.DS_Store
.envrc
.kube*
.terraform*
.vault-pwd
Thumbs.db
buvisctl.conf.yaml
cluster-home/infrastructure/talos/generated-config
cluster-home/test-area
cluster-office/infrastructure/talos/generated-config
terraform-plugin-proxmox.log
terraform.tfstate*
