.direnv
.DS_Store
.envrc
.kube*
.terraform*
.vault-pwd
Thumbs.db
production/infrastructure/talos/
home/infrastructure/talos/
!home/infrastructure/talos/patch-all.yaml
home/aws-velero-creds
terraform-plugin-proxmox.log
terraform.tfstate*
