---
# main tasks file for roles/flash-alarm-node

- name: "[BEGIN] Install dependencies"
  include_tasks: 01-install-dependencies.yaml

- name: "[BEGIN] Prepare root filesystem"
  include_tasks: 02-prepare-root-filesystem.yaml

- name: "[BEGIN] Prepare SD card"
  include_tasks: 03-prepare-sd-card.yaml

- name: "[BEGIN] Install and initialize Arch Linux ARM"
  block:
  - name: "[BEGIN] Mount SD card"
    include_tasks: 04-mount-sd-card.yaml

  - name: "[BEGIN] Install OS"
    include_tasks: 05-install-os.yaml

  - name: "[BEGIN] Create default user"
    include_tasks: 06-create-user.yaml

  - name: "[BEGIN] Configure OS"
    include_tasks: 07-configure-os.yaml

  - name: "[BEGIN] Secure OS"
    include_tasks: 08-secure-os.yaml

  - name: "[BEGIN] Join cluster"
    include_tasks: 09-join-cluster.yaml

  - name: "[BEGIN] Fix permissions"
    include_tasks: 10-fix-permissions.yaml

  - name: "[BEGIN] Move boot partition"
    include_tasks: 11-move-boot-partition.yaml

  always:
  - name: "[BEGIN] Unmount SD card"
    include_tasks: 12-umount-sd-chroot.yaml
