source_up
export NODE_IPS=<comma separated list of nodes' IPs>
export KUBECONFIG=$(expand_path .kube/config)
export TALOSCONFIG=$(expand_path ./infrastructure/talos/talosconfig)
export TF_VAR_talos_version=v1.10.4
export TF_VAR_talos_schematic_id=88d1f7a5c4f1d3aba7df787c448c1d3d008ed29cfb34af53fa0df4336a56040b
export GITHUB_TOKEN=<see https://docs.buvis.net/installation/#gitops>
